{% extends "base.html" %}

{% block content %}
{% include "inc_menu.html" %}

<div id="site_content" style="height: 500px">
  <div>
		<a href="/">На главную</a>
  </div>
    <br>
    <div>
        <a href="/create-course/?id={{context.id}}">Создать новый курс</a>
        <br>
        <h1>Список курсов для категории "{{context.category}}"</h1>
        {% for item in context.objects_list %}
        <li>
            {{item.name}} <span><a href="/copy-course/?name_course={{item.name}}">скопировать</a></span>
        </li>
        {% endfor %}
    </div>
</div>
{% endblock %}