{% extends "base.html" %}

{% block content %}
{% include "inc_menu.html" %}

<div id="site_content" style="height: 500px">
    <div>
        <a href="/students/">Список студентов</a>
    </div>

    <br>
    <h1>Регистрация нового студента</h1>
    <form method="post">
        <input type="text" name="surname" placeholder="Фамилия">
        <input type="text" name="name" placeholder="Имя">
        <input type="text" name="patronymic" placeholder="Отчество">
        <input type="text" name="age" placeholder="Возраст">
        <button type="submit">Сохранить</button>
    </form>
</div>
{% endblock %}