<div id="menubar">
        <ul id="menu">
          <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
          <li class="{% if context.title == 'Категории' %}selected{% endif %}"><a href="/">Категории</a></li>
          <li class="{% if context.title == 'Пользователи' %}selected{% endif %}"><a href="/users/">Пользователи</a></li>
          <li class="{% if context.title == 'Страница' %}selected{% endif %}"><a href="/page/">A Page</a></li>
          <li class="{% if context.title == 'Другая страница' %}selected{% endif %}"><a href="/another_page/">Another Page</a></li>
          <li class="{% if context.title == 'Контакты' %}selected{% endif %}"><a href="/contact/">Contact Us</a></li>
        </ul>
</div>
