{% extends "base.html" %}

{% block content %}
{% include "inc_menu.html" %}

<div id="site_content" style="height: 500px">
  <div>
		<a href="/create-category/">Создать новую категорию</a>
  </div>
  <div>
		<h1>Список существующих категорий</h1>
        {% for item in context.categories %}
        <li>
            {{item.category}} <span>Количество курсов: {{item.course_count()}}</span>
			<a href="/courses-list/?id={{item.id}} " style="color: blue">Показать курсы</a>
        </li>
        {% endfor %}
  </div>

    <p><img src="{{ static }}/logo.png"></p>
</div>
{% endblock %}